@font-face {
  font-display: block;
  font-family: "Verity-Icons";
  src: url("./Verity-Icons.woff2?5c97d452d81f388baa67532d11163c60") format("woff2");
}

i[class^="icon-"]::before, i[class*=" icon-"]::before {
  font-family: Verity-Icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cilinder::before {
  content: "\f101";
}
.icon-circle::before {
  content: "\f102";
}
.icon-cone::before {
  content: "\f103";
}
.icon-cube::before {
  content: "\f104";
}
.icon-prism::before {
  content: "\f105";
}
.icon-pyramid::before {
  content: "\f106";
}
.icon-raid::before {
  content: "\f107";
}
.icon-sphere::before {
  content: "\f108";
}
.icon-square::before {
  content: "\f109";
}
.icon-triangle::before {
  content: "\f10a";
}
